<!-- begin of the app section -->
<div class="wrapper">
  <section class="app-section">
    <h2>للحصول على تطبيقنا</h2>
    <p>يمكنك الحصول على النسخة التي تناسب جوالك</p>

    <div class="app-buttons">

      <div class="app-btn">
        <img src="assets/images/app-store-icon.svg" alt="">
        <span>App Store</span>
      </div>

      <div class="app-btn">
        <img src="assets/images/google-play-icon.svg" alt="">
        <span>Google Play</span>
      </div>
    </div>
  </section>
</div>