<div class="container">
  <div class="under_four_links">
      <a href="#" class="item">
          <img src="assets/images/question-icon.png" alt="">
          <p>سجل الاسئلة</p>
      </a>
      <a href="#" class="item">
          <img src="assets/images/serach-icon.png" alt="">
          <p>أبحث عن محامي</p>
      </a>
      <a href="#" class="item">
          <img src="assets/images/case-icon.png" alt="">
          <p>أعرض قضيتك واطلب سعر</p>
      </a>
      <a href="#" class="item">
          <img src="assets/images/subscribe-package-icon.png" alt="">
          <p>باقات الاشتراكات</p>
      </a>
  </div>
</div>
